<footer class="footer bg-light pt-5 pb-3 mt-5">
  <div class="container">
    <div class="row text-start">

      <!-- Logo & Company Links -->
      <div class="col-md-3 mb-4">
        <h5><i class="fa-solid fa-handshake-angle me-2 text-primary"></i>Helping Hand</h5>
        <ul class="list-unstyled">
          <li><a href="/about">About us</a></li>
          <li><a href="#">Investor Relations</a></li>
          <li><a href="/terms">Terms & Conditions</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="#">Anti-discrimination Policy</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>

      <!-- For Customers -->
      <div class="col-md-3 mb-4">
        <h6>For Customers</h6>
        <ul class="list-unstyled">
          <li><a href="#">Reviews</a></li>
          <li><a href="#">Categories Near You</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>

      <!-- For Professionals -->
      <div class="col-md-3 mb-4">
        <h6>For Professionals</h6>
        <ul class="list-unstyled">
          <li><a href="#">Register as a Professional</a></li>
        </ul>
      </div>

      <!-- Social Media & App Links -->
      <div class="col-md-3 mb-4">
        <h6>Social Links</h6>
        <div class="d-flex gap-2 mb-2">
          <a href="#"><i class="fab fa-twitter fa-lg"></i></a>
          <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
          <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
          <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
        </div>
        <div class="d-flex flex-column gap-2">
          <a href="/soon"><img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg" width="135" alt="Google Play"></a>
        </div>
      </div>
    </div>

    <!-- Bottom note -->
    <div class="text-muted small mt-4 border-top pt-3 text-center">
      * As on June 30, 2025 <br />
      © 2025 Helping Hand Pvt. Ltd. | CIN: U12345DL2025PTC123456
    </div>
  </div>
</footer>
